@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IGJ | Mesa Entrada de trámites</title>


    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/error")
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Custom styles for this template -->

    <link rel="icon" href="~/Images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
        <div class="container text-center">
            <h2>Acceso Denegado</h2>

            <p>Usted no posee permisos para acceder al sistema.</p>

            <img src="@Url.Content("~/Images/white_lock.png")" />
        </div>
    </body>
</html>
